<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<h2>Hi {{ user.name_first }}!</h2>
		<p class="small">Thanks for using Doorway!  If you have any questions, feel free to contact us at <a href="mailto:support@doorwayapp.com">support@doorwayapp.com</a> or <a href="tel:8018993951">(801)&nbsp;899&#8209;3951</a>.</p>
		<div ng-show="isManager">
			<p><a ui-sref="app.owners" class="btn">Owners</a></p>
			<p><a ui-sref="app.properties.list" class="btn">Properties</a></p>
			<p><a ui-sref="app.requests.list_manager" class="btn">Maintenance Requests</a></p>
		</div>
		<div ng-show="isTenant">
			<p><a ui-sref="app.accounts" class="btn">Bank Accounts</a></p>
			<p><a ui-sref="app.payments" class="btn">Payments</a></p>
			<p><a ui-sref="app.requests.list_tenant" class="btn">Maintenance Requests</a></p>
		</div>
		<a class="btn input-lg" ui-sref="logout">Log Out</a>
	</div>
</div>