<div class="row">
	<div class="col-sm-4 col-sm-offset-4" ng-hide="success">
		<h3>Reset your Password</h3>
		<form method="post" ng-submit="resetPassword()" autocorrect="off">
			<div class="alert alert-danger" ng-show="error">
				{{ error }}
			</div>
			<div class="form-group">
				<input type="email" ng-model="user.email" placeholder="Your Email" class="form-control input-lg" focus="true">
			</div>
			<button type="submit" class="btn btn-primary btn-block input-lg">Send the Reset Link</button>
		</form>
		<a class="btn" ui-sref="auth.login">Cancel Password Reset</a>
	</div>
	<div class="col-sm-4 col-sm-offset-4" ng-show="success">
		<h3>Success</h3>
		<p>A link to reset your password has been sent to the email provided.  Please allow up to 1 hour for the email to arrive before trying again.</p>
		<a class="btn" ui-sref="auth.login">&lt; Log In</a>
	</div>
</div>