<section class="jumbotron">
	<div class="container">
		<h1>Doorway</h1>
		<p>Manage your rental properties online</p>
		<a class="btn btn-ghost" ui-sref="auth.register">Get Started for Free</a>
		<p><small>Already have an account? <a ui-sref="auth.login">Log in</a></small></p>
	</div>
</section>
<section class="light description">
	<div class="container">
		<h2>The easiest way to manage your properties from anywhere</h2>
		<div class="row">
			<div class="col-sm-6">
				<figure><i class="fa lg fa-clipboard"></i></figure>
				<h3>Accept Applications</h3>
				<p>Send prospective tenants a link to your lease application and they will be able to instantly apply and pay application fees online.</p>
			</div>
			<div class="col-sm-6">
				<figure><i class="fa lg fa-money"></i></figure>
				<h3>Collect Payments</h3>
				<p>Invite your tenants to Doorway and they will be able to make rent payments online each month so that you don't have to deal with paper checks and bank deposits.</p>
			</div>
		</div>
	</div>
</section>
<section class="dark pricing">
	<div class="container">
		<h2>Pricing</h2>
		<p>We want our pricing to be as simple as possible, which is why we stick to these low flat rates:</p>
		<p><span class="pricing">$3</span> per processed rent payment</p>
		<p><span class="pricing">$5</span> per processed application</p>
	</div>
</section>
<section class="light steps">
	<div class="container">
		<h2>How It Works</h2>
		<div class="row">
			<div class="col-sm-2 col-sm-offset-1">
				<i class="fa fa-5x fa-university fa-fw"></i>
			</div>
			<div class="col-sm-8">
				<h3>1. Set up your bank account</h3>
				<p>We collect your bank details so payments can be automatically sent to your account.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-sm-offset-1">
				<i class="fa fa-5x fa-cubes fa-fw"></i>
			</div>
			<div class="col-sm-8">
				<h3>2. Add your properties</h3>
				<p>Input addresses, rent amounts, and other information about your properties into the system.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-sm-offset-1">
				<i class="fa fa-5x fa-envelope-o fa-fw"></i>
			</div>
			<div class="col-sm-8">
				<h3>3. Invite your tenants</h3>
				<p>Add your tenants to a property, and they will receive an email invitation. They will store their bank account information and receive a notification when it's time to pay each month.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-sm-offset-1">
				<i class="fa fa-5x fa-heart fa-fw"></i>
			</div>
			<div class="col-sm-8">
				<h3>4. Sit Back and Relax</h3>
				<p>After that, the system runs by itself. Rent payments will arrive directly to your bank account each month.</p>
			</div>
		</div>
	</div>
</section>
<section class="cta bottom-cta">
	<div class="container">
		<h2>Try Doorway today!</h2>
		<a class="btn btn-ghost" ui-sref="auth.register">Get Started for Free</a>
	</div>
</section>
<footer>
	<div class="container">
		<h2>Doorway</h2>
		<p>&copy; 2015 Doorway Management LLC</p>
		<ul class="list-inline">
			<li><a href="mailto:support@doorwayapp.com"><i class="fa fl fa-envelope"></i></a></li>
			<li><a href="https://twitter.com/DoorwayApp"><i class="fa fl fa-twitter"></i></a></li>
			<li><a href="https://facebook.com/doorwayapp"><i class="fa fl fa-facebook-square"></i></a></li>
		</ul>
	</div>
</footer>