<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<h3>Log In</h3>
		<form method="post" ng-submit="login()" autocorrect="off">
			<div class="alert alert-danger" ng-show="error">
				{{ error }}
			</div>
			<div class="form-group">
				<input type="text" ng-model="user.username" placeholder="Your Email" class="form-control input-lg" focus="true">
			</div>
			<div class="form-group">
				<input type="password" ng-model="user.password" placeholder="Your Password" class="form-control input-lg">
			</div>
			<button type="submit" class="btn btn-primary btn-block input-lg">Log In</button>
		</form>
		<a class="btn" ui-sref="auth.forgotPassword">Reset your Password</a>
		<a class="btn" ui-sref="auth.register">Create an Account</a>
	</div>
</div>