<!DOCTYPE html>
<html ng-app="doorway">
	<head>
		<title>Doorway - Property management made simple</title>
		<meta name="description" content="Property management made simple">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Language" content="en">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	</head>
	<body ng-controller="MainController">
		<ui-view></ui-view>
		<!-- Modules -->
		<script src="js/app.js"></script>

		<!-- Controllers -->
		<script src="js/controllers/MainController.js"></script>
		<script src="js/controllers/AuthController.js"></script>
		<script src="js/controllers/TenantController.js"></script>
		<script src="js/controllers/ManagerController.js"></script>
		<script src="js/controllers/AccountController.js"></script>
		<script src="js/controllers/OwnerController.js"></script>
		<script src="js/controllers/PaymentController.js"></script>
		<script src="js/controllers/PropertyController.js"></script>
		<script src="js/controllers/ApplicationController.js"></script>

		<!-- Services -->
		<script src="js/services/auth.js"></script>
		<script src="js/services/emails.js"></script>
		<script src="js/services/tenants.js"></script>
		<script src="js/services/managers.js"></script>
		<script src="js/services/owners.js"></script>
		<script src="js/services/accounts.js"></script>
		<script src="js/services/payments.js"></script>
		<script src="js/services/properties.js"></script>
		<script src="js/services/applications.js"></script>

		<!-- Directives -->
		<script src="js/directives/focus.js"></script>

		<!-- Helpers -->
		<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
		<script src="js/vendor/angular-stripe.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angulartics/0.18.0/angulartics.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angulartics/0.18.0/angulartics-ga.min.js"></script>

		<script>
			/* Stripe Key */
			var stripeKey = '<%= stripeKey %>';

			/* Google Analytics Tracking Code */
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-64396107-1', 'auto');
		</script>
	</body>
</html>
