<html>
	<head>
		<title>Doorway - Property management made simple</title>
		<meta name="description" content="Property management made simple">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Language" content="en">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body class="page-home">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<h1>Doorway</h1>
					<p class="tagline">Property management made simple</p>
					<form method="post" action="/email">
						<div class="form-group">
							<input type="email" name="email" placeholder="Your Email" class="form-control input-lg">
						</div>
						<button type="submit" class="btn btn-primary btn-block input-lg">Get Started</button>
					</form>
				</div>
			</div>
		</div>
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script>
			$(function(){
				$('[name=email]').focus();

				$('form').on('submit', function(e) {
					e.preventDefault();
					$.ajax({
						method: "POST",
						url: "/email",
						data: {
							email: $('input[name=email]').val()
						}
					}).done(function (data) {
						$('form').html('<p>We will let you know when Doorway is ready for you!</p>');
					});
					return false;
				});
			});
		</script>
	</body>
</html>
