body {
	background-color: #3498db;
	color: #ecf0f1;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	padding-top: 3em;
}
h1 {
	text-transform: uppercase;
	font-size: 3.2em;
}
p {
	font-size: 1.4em;
}

a { color: #f2c81d; cursor: hand; }
a:visited { color: #f2c81d; }
a:hover { color: #f39c12; }
a:active { color: #f2c81d; }

ul, ol { text-align: left; }
ul.links {
	display: block;
	font-size: 1.4em;
}
ul.links > li {
	padding: 0.5em 2em;
	cursor: hand;
	border-bottom: 1px solid #ecf0f1;
}
ul.links > li:hover { background-color: #2980b9; }

form {
	margin-top: 2em;
}
input.form-control {
	color: #34495e;
}
label, address, .form-group {
	text-align: left;
}
address p {
	margin: 0;
}
.btn-primary {
	background-color: #e74c3c;
	color: #ecf0f1;
}
.btn-primary:focus { background-color: #e74c3c; }
.btn-primary:visited { background-color: #e74c3c; }
.btn-primary:hover { background-color: #c0392b; }
.btn-primary:active { background-color: #e74c3c; }

::-webkit-input-placeholder { color: #bdc3c7 !important; }
:-moz-placeholder { color: #bdc3c7 !important; }
::-moz-placeholder { color: #bdc3c7 !important; }
:-ms-input-placeholder { color: #bdc3c7 !important; }

.panel {
	background-color: transparent;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
	border-radius: 0;
}

/* PAGE-SPECIFIC STYLES */
.page-application-detail p {
	text-align: left;
}
