body {
	background-color: #3498db;
	color: #ecf0f1;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	padding-top: 3em;
}
h1 {
	text-transform: uppercase;
	font-size: 3.2em;
}
p {
	font-size: 1.4em;
}
form {
	margin-top: 2em;
}
input.form-control {
	color: #34495e;
}
.btn-primary {
	background-color: #e74c3c;
	color: #ecf0f1;
}
::-webkit-input-placeholder { color: #bdc3c7 !important; }
:-moz-placeholder { color: #bdc3c7 !important; }
::-moz-placeholder { color: #bdc3c7 !important; }
:-ms-input-placeholder { color: #bdc3c7 !important; }
