<h2 class="title">{{ account.bank_name }} {{ account.last4 }}</h2>
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<div ng-show="account.validated">
			<p>This bank account is properly configured to pay rent.</p>
			<button class="btn btn-primary btn-block input-lg" ui-sref="app.payments.new">Make a Payment</button>
		</div>
		<div ng-hide="account.validated">
			<p ng-hide="instructions">Looks like you haven't verified this bank account yet.</p>
			<a ng-click="showInstructions()" ng-hide="instructions">Show Instructions</a>
			<div class="instructions" ng-show="instructions">
				<h3>Instructions</h3>
				<p>You should have received two small deposits to your bank account with the description "VERIFICATION".</p>
				<p>Go to your bank's website and find the deposits and enter their amounts on this screen.</p>
				<p>If you need help email us at <a href="mailto:support@doorwayapp.com">support@doorwayapp.com</a> or call us at <a href="tel:8018993951">(801)&nbsp;899&#8209;3951</a>.</p>
				<a ng-click="hideInstructions()">Hide Instructions</a>
			</div>
			<form ng-submit="verifyAccount()">
				<div class="alert alert-danger" ng-show="error">
					{{ error }}
				</div>
				<div class="form-group">
					<input type="text" class="form-control input-lg" placeholder="32" ng-model="amount1" focus="true">
				</div>
				<div class="form-group">
					<input type="text" class="form-control input-lg" placeholder="45" ng-model="amount2">
				</div>
				<button class="btn btn-primary btn-block btn-lg">Verify Account</button>
			</form>
		</div>
	</div>
</div>