<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<h2>Make Payment</h2>
		<form ng-submit="newPayment()">
			<div class="form-group">
				<label class="control-label">Amount</label>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input type="text" class="form-control input-lg" placeholder="725" ng-model="payment.amount">
				</div>
			</div>
			<button class="btn btn-primary btn-block input-lg">Pay Now</button>
		</form>
		<a class="btn input-lg" ui-sref="dashboard">&lt; Dashboard</a><a class="btn input-lg" ui-sref="logout">Log Out</a>
	</div>
</div>