<h2 class="title" ng-if="view != 'success'">Make Payment</h2>
<h2 class="title" ng-if="view == 'success'">Success</h2>
<div class="row">
	<div class="col-sm-4 col-sm-offset-4" ng-switch="view">
		<div ng-switch-default>
			<div class="alert alert-danger" ng-show="error">
				{{ error }}
			</div>
			<form ng-submit="newPayment()">
				<div class="form-group">
					<label class="control-label">Amount</label>
					<div class="input-group">
						<span class="input-group-addon">$</span>
						<input type="text" class="form-control input-lg" placeholder="725" ng-model="payment.amount" focus="true">
					</div>
				</div>
				<button class="btn btn-primary btn-block input-lg">Pay Now</button>
			</form>
		</div>
		<div ng-switch-when="success">
			<p>This is your receipt for payment {{ payment._id }}</p>
			<p>{{ payment.amount | currency }} for rent of {{ payment.property.address }}</p>
			<p>From {{ payment.source.bank_name }} account ending in {{ payment.source.last4 }}</p>
			<p>Paid {{ payment.created | date : 'MMM d, yyyy \'at\' h:mma'}}</p>
			<p>Please allow up to 5 business days for the transaction to show up on your bank account.</p>
			<p>If you have any questions please contact us at <a href="mailto:support@doorwayapp.com">support@doorwayapp.com</a> or <a href="tel:8018993951">(801)&nbsp;899&#8209;3951</a>.</p>
		</div>
		<div ng-switch-when="processing">
			<p>Processing...</p>
		</div>
	</div>
</div>