<div class="row">
	<div class="col-sm-4 col-sm-offset-4" ng-switch="view">
		<div ng-switch-default>
			<h2>New Maintenance Request</h2>
			<div class="alert alert-danger" ng-show="error">
				{{ error }}
			</div>
			<form ng-submit="newRequest()">
				<div class="form-group">
					<label class="control-label">Subject</label>
					<input type="text" class="form-control" ng-model="request.subject">
				</div>
				<div class="form-group">
					<label class="control-label">Message</label>
					<textarea class="form-control" rows="5" ng-model="request.message"></textarea>
				</div>
				<button class="btn btn-primary btn-block input-lg">Submit Maintenance Request</button>
			</form>
			<a class="btn input-lg" ui-sref="app.payments">&lt; All Payments</a><a class="btn input-lg" ui-sref="logout">Log Out</a>
		</div>
	</div>
</div>