<h2 class="title">Payments ({{ payments.length }})</h2>
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<ul class="list-unstyled links" ng-show="payments.length">
			<li ng-repeat="payment in payments" ui-sref="app.payments.detail({ id: payment._id })">
				{{ payment.created | date }} &mdash; {{ payment.amount | currency }}
			</li>
		</ul>
		<p ng-hide="payments.length">Looks like you haven't made a payment yet.</p>
		<button class="btn btn-primary btn-block btn-lg" ui-sref="app.payments.new">New Payment</button>
		<a class="btn btn-block" ui-sref="app.autoPay" ng-hide="user.autopay">Set up automatic payments</a>
		<a class="btn btn-block" ui-sref="app.autoPay" ng-show="user.autopay">Manage automatic payments</a>
		</div>
	</div>
</div>