<h2 class="title">Maintenance Requests ({{ requests.length }})</h2>
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<div ng-show="requests.length">
			<ul class="list-unstyled links">
				<li ng-repeat="request in requests" ui-sref="app.requests.detail({ id: request._id })">{{ request.subject }}</li>
			</ul>
			<button class="btn btn-primary btn-block input-lg" ui-sref="app.requests.new">New Maintenance Request</button>
		</div>
		<div ng-hide="requests.length">
			<p ng-if="user._type == 'Tenant'">Looks like you haven't created any maintenance requests yet.</p>
			<p ng-if="user._type == 'Manager'">Looks like your tenants haven't created any maintenance requests yet.</p>
			<button class="btn btn-primary btn-block input-lg" ui-sref="app.requests.new" ng-if="user._type == 'Tenant'">New Maintenance Request</button>
		</div>
	</div>
</div>