<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<h2>{{ owner.name }}</h2>
		<div ng-show="owner.stripe_id">
			<p>Everything is properly configured to collect rent for this owner.</p>
			<a class="btn btn-block input-lg" ui-sref="owners">&lt; Back to Owners</a>
		</div>
		<div ng-hide="owner.stripe_id">
			<p>Looks like you haven't connected a Stripe account to this owner.</p>
			<button class="btn btn-primary btn-block input-lg">Connect with Stripe</button>
		</div>
		<a class="btn input-lg" ui-sref="owners">< All Owners</a><a class="btn input-lg" ui-sref="logout">Log Out</a>
	</div>
</div>