<h2 class="title">Properties ({{ properties.length }})</h2>
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<ul class="list-unstyled links" ng-show="properties.length">
			<li ng-repeat="property in properties" ui-sref="app.properties.detail({ id: property._id })">{{ property.address }}</li>
		</ul>
		<p ng-hide="properties.length">Looks like you haven't added any properties yet.</p>
		<button class="btn btn-primary btn-block btn-lg" ui-sref="app.properties.new">Add a Property</button>
	</div>
</div>