<h2 class="title">{{ property.address }}</h2>
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<div>
			<ul class="list-unstyled">
				<li><p>Rent: {{ property.rent | currency }}</p></li>
				<li><p>Owner: <a ui-sref="app.ownerDetails({id: property.owner._id})">{{ property.owner.name }}</a></p></li>
			</ul>
			<div>
				<h3>Tenants</h3>
				<ul class="list-unstyled links" ng-show="property.tenants.length">
					<li ng-repeat="tenant in property.tenants">
						<a ui-sref="app.tenants.detail({id: tenant._id})">{{ tenant.name_first }} {{ tenant.name_last }}</a>
					</li>
				</ul>
				<p ng-hide="property.tenants.length">It appears that this property is empty.</p>
				<button class="btn btn-primary btn-block btn-lg" ui-sref="app.tenants.new({property: property._id})">Add a Tenant</button>
			</div>
		</div>
		<a class="btn btn-block" ng-click="openApplications()" ng-hide="property.applications_open">Open Lease Applications for this Property</a>
		<a class="btn btn-block" ng-click="closeApplications()" ng-show="property.applications_open">Close Lease Applications for this Property</a>
		<div ng-show="property.applications_open">
			<h3>Applications</h3>
			<ul class="list-unstyled links" ng-show="applications.length">
				<li ng-repeat="application in applications">
					<a ui-sref="app.application({id: application._id})">{{ application.name_first }} {{ application.name_last }}</a>
				</li>
			</ul>
			<p ng-hide="applications.length">No applications have been received for this property.</p>
			<div class="form-group">
				<label>Lease Application Link <a href="{{ property.application_url }}"><span class="glyphicon glyphicon-search"></span></a></label>
				<pre>{{ property.application_url }}</pre>
			</div>
		</div>
	</div>
</div>
