<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<h2>Properties ({{ properties.length }})</h2>
		<div ng-show="properties">
			<ul class="list-unstyled links">
				<li ng-repeat="property in properties" ui-sref="properties.detail({ id: property._id })">{{ property.address }}</li>
			</ul>
			<button class="btn btn-primary btn-block input-lg" ui-sref="newProperty">Add a Property</button>
		</div>
		<div ng-hide="properties">
			<p>Looks like you haven't added any properties yet.</p>
			<button class="btn btn-primary btn-block input-lg" ui-sref="newProperty">Add a Property</button>
		</div>
		<a class="btn input-lg" ui-sref="dashboard">&lt; Dashboard</a>
		<a class="btn input-lg" ui-sref="logout">Log Out</a>
	</div>
</div>