<h2 class="title">{{ tenant.name_first }} {{ tenant.name_last }}</h2>
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<p>Email: <a href="mailto:{{ tenant.email }}">{{ tenant.email }}</a></p>
		<p>Phone: <a href="tel:{{ tenant.phone }}">{{ tenant.phone | tel }}</a></p>
		<p ng-if="tenant.last_login == false">Status: Invited</p>
		<p ng-if="tenant.last_login && !tenant.default_account">Status: Created</p>
		<p ng-if="tenant.default_account">Status: Verified</p>
		<p ng-hide="tenant.locked"><a class="btn btn-block" ng-click="lockTenant()">Lock Tenant</a></p>
		<p ng-show="tenant.locked"><a class="btn btn-block" ng-click="unlockTenant()">Unlock Tenant</a></p>
	</div>
</div>
